* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0f0f10;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.menu-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  min-height: 90vh;
}

.text-content {
  max-width: 45%;
}

.subtitle {
  color: #b0b0b0;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.contact-btn {
  display: inline-block;     
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  transition: 0.3s;
  margin-top: 30px;         
  padding-bottom: 4px;
}

.contact-btn:hover {
  color: #00bcd4;
  border-color: #00bcd4;
}

.image-content img {
  width: 400px;
  margin-left: 15%;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.image-content img:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;  
  margin-left: 150px;            
}

/* Resume Section */
.resume {
  padding: 100px 10%;
  background-color: #0f0f10;
  text-align: left;
}

.resume .subtitle {
  color: #b0b0b0;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-left: -95px;
}

.resume h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 60px;
  margin-left: -90px;
}

.resume-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  margin-left: -85px;
  cursor: pointer;
}

.resume-column {
  flex: 1 1 45%;
}

.resume-column h3 {
  font-size: 1.5rem;
  color: #00bcd4;
  margin-bottom: 30px;
  border-bottom: 1px solid #1f1f1f;
  padding-bottom: 10px;
}

.resume-item {
  background: #1a1a1a;
  border-radius: 10px;
  padding: 20px 25px;
  margin-bottom: 20px;
  transition: 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-item:hover {
  background: #222;
  transform: translateY(-3px);
}

.item-text h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.item-text p {
  color: #b0b0b0;
  font-size: 0.9rem;
}

.resume-item span {
  color: #00bcd4;
  font-size: 0.9rem;
  background: #0f0f10;
  padding: 4px 10px;
  border-radius: 5px;
  border: 1px solid #00bcd4;
  margin-left: auto;
  flex-shrink: 0;
  text-align: right;
  transition: 0.3s ease;
}

.resume-item:hover span {
  box-shadow: 0 0 10px #00bcd4; 
}

/* --- Skills Section --- */
.skills {
  padding: 100px 10%;
  background-color: #0f0f10;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 50px;
  transition: transform 0.4s ease;
}

.skill:hover{
  transform: scale(1.08);
  cursor: pointer;
}

.skills-text {
  flex: 1 1 40%;
}

.skills-text .subtitle {
  color: #b0b0b0;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-left: -90px;
}

.skills-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-left: -85px;
}

.skills-text .description {
  color: #ccc;
  line-height: 1.6;
  font-size: 16px;
  max-width: 400px;
  margin-left: -80px;
}

.skills-list {
  flex: 1 1 50%;
  margin-top: 75px;
}

.skill {
  margin-bottom: 25px;
}

.skill-name {
  font-weight: 600;
  margin-bottom: 8px;
}

.skill-bar {
  background: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  height: 8px;
  position: relative;
}

.skill-bar span {
  display: block;
  height: 100%;
  background: #00bcd4;
  border-radius: 10px;
  transition: width 1s ease-in-out;
}

.skill-percent {
  text-align: right;
  font-size: 0.9rem;
  color: #aaa;
  margin-top: 5px;
}

/* --- Contact Section --- */
.contact-section {
  background: url('background.jpg') center/cover no-repeat;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
  flex-wrap: wrap;
  gap: 50px;
}

.contact-left h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  line-height: 1.5;
}

.contact-mail {
  display: inline-block;
  color: #00bcd4;
  font-weight: bold;
  margin-top: 11px;
  text-decoration: none;
}

.website {
  display: inline-block;
  color: #bbb;
  margin-top: 35px; 
  margin-left: 50px;
  font-size: xxx-large;
  text-decoration: none;
  cursor: pointer;
}

.website:hover {
  color: #00bcd4;
}


/* --- Testimonial section --- */
.testimonial {
  background: rgba(15, 15, 16, 0.9);
  padding: 30px;
  border-radius: 12px;
  max-width: 400px;
  color: #ddd;
  box-shadow: 0 10px 30px rgba(0, 188, 212, 0.2);
  margin-top: 10px;
}

.testimonial h3 {
  margin-bottom: 15px;
  color: #fff;
}

.client-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.client-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* --- Footer section --- */
.footer {
  background-color: #0f0f10;
  color: #aaa;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #1a1a1a;
}

.footer-info {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.footer-info h4 {
  color: #fff;
  margin-bottom: 8px;
}

.footer-socials h4 {
  color: #fff;
  margin-bottom: 12px;
  margin-top: 6px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer-socials .icons {
  display: flex;
  gap: 20px;
}

.footer-socials {
  display: flex;
  gap: 20px;
}

.footer-socials a {
  color: #aaa;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.footer-socials a:hover {
  color: #00bcd4;
  transform: translateY(-4px);
}


